:root {
  --gray: #c4c4c4;
  --black: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--black);
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--gray);
}
